In [1]:
from skimpy import skim
import json 
import requests 
import pandas as pd
from pandas import json_normalize 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dev_tools import autoclean_dataset, say_hello
import re

Fin du programme

ImportError: cannot import name 'autoclean_dataset' from 'dev_tools' (d:\Top_gun\Preprocessing\dev_tools.py)

In [ ]:
df_aeronef = pd.read_csv('D:\\Top_gun\\Datasets\\df_aeronef\\aeronefs_2024-06-02.csv')

In [ ]:
df_aeronef.head()

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6353,E170,2000-03-17,2024-03-27 00:00:00,False,NaN
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,NaN
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN

In [ ]:
df_aeronef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_aero        232 non-null    object
 1   type_model      232 non-null    object
 2   debut_service   232 non-null    object
 3   last_maint      232 non-null    object
 4   en_maintenance  232 non-null    bool
 5   end_maint       15 non-null     object
dtypes: bool(1), object(5)
memory usage: 9.4+ KB

In [ ]:
df_aeronef['end_maint'] = df_aeronef['end_maint'].fillna(0)

In [ ]:
def supprimer_heure_minutes_secondes(chaine):
    pattern = r'\s\d{2}:\d{2}:\d{2}$'  # Motif pour l'heure, les minutes et les secondes
    nouvelle_chaine = re.sub(pattern, '', chaine)
    return nouvelle_chaine

# Appliquer la fonction à la colonne 'last_maint'
df_aeronef['last_maint'] = df_aeronef['last_maint'].astype(str).apply(supprimer_heure_minutes_secondes)
df_aeronef['end_maint'] = df_aeronef['end_maint'].astype(str).apply(supprimer_heure_minutes_secondes)

In [ ]:
df_aeronef['last_maint'] = pd.to_datetime(df_aeronef['last_maint'], format='%Y-%m-%d', errors='coerce')
df_aeronef['end_maint'] = pd.to_datetime(df_aeronef['end_maint'], format='%Y-%m-%d', errors='coerce')

In [ ]:
df_aeronef

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6353,E170,2000-03-17,2024-03-27,0,1970-01-01
1,B767_2803,B767,2020-12-03,2024-06-01,0,1970-01-01
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,1,2024-06-03
3,A350_1177,A350,2005-08-07,2024-01-04,0,1970-01-01
4,B777_4029,B777,2009-01-01,2024-06-01,0,1970-01-01
...,...,...,...,...,...,...
227,B737_4369,B737,2010-01-05,2024-06-01,0,1970-01-01
228,A340_4021,A340,2004-12-13,2024-05-31,0,1970-01-01
229,CRJ900_1740,CRJ900,2003-07-20,2024-06-01,0,1970-01-01
230,E170_5551,E170,2021-04-10,2024-06-01,0,1970-01-01
231,CRJ700_2988,CRJ700,2000-10-25,2024-02-01,0,1970-01-01

In [ ]:
df_aeronef['debut_service'] = pd.to_datetime(df_aeronef['debut_service'], format='%Y-%m-%d', errors='coerce')

In [ ]:
#  Ici on remplace les valeurs manquantes par la date du 01-01-1970 soit ici 0
df_aeronef['end_maint'].fillna(pd.Timestamp('1970-01-01'), inplace=True)

In [ ]:
df_aeronef['en_maintenance'] = df_aeronef['en_maintenance'].replace({True: 1, False: 0})

In [ ]:
# Export du fichier clean de df_aeronef en csv
df_aeronef.to_csv('D:\\Top_gun\\Datasets\\df_aeronef\\df_aeronef_clean.csv', index=False)

In [ ]:
skim(df_aeronef)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 232    │ │ datetime64  │ 3     │                                                          │
│ │ Number of columns │ 6      │ │ string      │ 2     │                                                          │
│ └───────────────────┴────────┘ │ int32       │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━┳━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━┳━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name         ┃ NA   ┃ NA %   ┃ mean       ┃ sd       ┃ p0  ┃ p25   ┃ p50   ┃ p75  ┃ p100  ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━╇━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━╇━━━━━━━╇━━━━━━━━━┩  │
│ │ en_maintenance      │    0 │      0 │    0.06466 │   0.2464 │   0 │     0 │     0 │    0 │     1 │ ▇    ▁  │  │
│ └─────────────────────┴──────┴────────┴────────────┴──────────┴─────┴───────┴───────┴──────┴───────┴─────────┘  │
│                                                    datetime                                                     │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name              ┃ NA    ┃ NA %      ┃ first               ┃ last               ┃ frequency        ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━┩  │
│ │ debut_service            │     0 │         0 │     2000-02-03      │     2022-11-11     │ None             │  │
│ │ last_maint               │     0 │         0 │     2023-07-02      │     2024-06-02     │ None             │  │
│ │ end_maint                │     0 │         0 │     1970-01-01      │     2024-06-16     │ None             │  │
│ └──────────────────────────┴───────┴───────────┴─────────────────────┴────────────────────┴──────────────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name               ┃ NA      ┃ NA %       ┃ words per row                ┃ total words              ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ ref_aero                  │       0 │          0 │                            1 │                      232 │  │
│ │ type_model                │       0 │          0 │                            1 │                      232 │  │
│ └───────────────────────────┴─────────┴────────────┴──────────────────────────────┴──────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯